body {
  font-family: "Source Code Pro", monospace;
  color: #444;
  font-size: 16px;
  margin: 0 0 50px;
  /*
        background-color: #ddd;
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
        padding: 20px;
        font-size: 20px;
        */
}
textarea {
  border: 1px solid #ddd;
  font-family: "Source Code Pro", monospace;
  color: #444;
  min-height: 800px;
  width: calc(100% - 100px);
  margin: 50px;
  margin-bottom: 0px;
  font-size: 16px;
  /*
        background-color: #eee;
        min-width: 100%;
        padding: 10px;
        min-height: 600px;
        font-size: 16px;
        */
}

div {
  margin: 50px 50px 0;
}

#run-button-wrapper > label {
  text-align: center;
  border: 1px solid blue;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin: 10px;
  border: 1px solid gray;
  padding: 10px 50px;
  cursor: pointer;
  transition: 0.3s;
}
#run-button-wrapper > input {
  display: none;
}
#run-button-wrapper > label:hover {
  background-color: #aaf;
  border: 1px solid #ffd;
  color: #fff;
  transition: 0.3s;
  box-shadow: 5px 10px 0px #ccc;
}
#run-button-wrapper > label:active,
#run-button-wrapper > label:focus,
#run-button-wrapper > label:target {
  box-shadow: 5px 10px #888888;
}

#result {
  background-color: #eee;
  padding: 10px;
}
#graph > svg {
  border: 1px solid blue;
  width: 100%;
  height: 800px;
}
